@import "tailwindcss";

@font-face {
  font-family: "Satoshi"; /* set name */
  src: url("../assets/fonts/Satoshi-Variable.ttf"); /* url of the font */
}

body {
  background-color: #FAFAFA;
}

h1,h2,h3,h4,h5,h6,p,div,span,a,button {
  font-family: "Satoshi", sans-serif;
}

h1 {
  font-size: clamp(36px, 3.5vw + 8px, 64px);
  font-weight: bolder;
}
h2, .h2 {
  font-size: clamp(28px, 3vw + 6px, 40px);
  font-weight: bold;
}

h3, .h3 {
  font-size: clamp(21px, 1.6vw, 26px);
  font-weight: 600;
}

h4, .h4 {
  font-size: clamp(18px, 1.2vw, 22px) !important;
}

@media (min-width:1025px) {
  .hero_cta {
  background-image: url("../images/hero_bg.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100svh - 90px);
}
}

.tokutei_ginou {
  position: relative;
  height: 75svh;
  @media (min-width: 1025px) {
   height: calc(100svh - 90px);
  }
}

.program, .vision-mission {
  background-image: url("../images/line-wave.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right top;

  @media (min-width: 768px) {
    background-size: 150px;
  }
  @media (min-width: 1025px) {
    background-size: 300px;
  }
}

.location iframe {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}