---
import Chip from "../../components/Chip.astro";
import Button from "../../components/Button.astro";
import ImageSlider from "./ImageSlider.astro";
---

<section
  class="flex items-center justify-center px-[16px] md:px-[48px] lg:px-[80px] pb-[72px]"
>
  <div
    class="self-stretch self-stretch py-[40px] px-[20px] md:py-[56px] md:px-[40px] lg:py-[72px] lg:px-[88px] bg-[#FED45C] rounded-[24px] md:rounded-[28px] lg:rounded-[32px] flex flex-col md:flex-row justify-center items-center gap-[28px] lg:gap-[60px]"
  >
    <div
      class="md:basis-1/2 lg::basis-2/5 self-stretch inline-flex flex-col justify-center items-center md:items-start gap-4 md:gap-3"
    >
      <Chip>Fasilitas</Chip>
      <h2 class="justify-start text-center md:text-left">
        <span class="text-[#146397] capitalize">Fasilitas</span><span
          class="text-zinc-700 capitalize"
        >
          lengkap untuk
        </span><span class="text-[#146397]">pembelajaran</span>
      </h2>
      <p
        class="justify-start text-slate-600 text-base font-normal text-center md:text-left mb-2"
      >
        Lingkungan pelatihan yang nyaman, asrama aman, simulasi kerja sesuai
        standar Jepang, pembelajaran bahasa intensif, serta pendampingan penuh
        hingga proses keberangkatan.
      </p>
      <Button>Gabung Sekarang</Button>
    </div>
    <div
      class="md:basis-1/2 lg::basis-3/5 flex-1 inline-flex flex-col justify-start items-start gap-2.5"
    >
      <ImageSlider />
    </div>
  </div>
</section>
