---
import Chip from "../../components/Chip.astro";
import Button from "../../components/Button.astro";
import ProgramItem from "../../components/ProgramItem.astro";
---

<section
  class="flex flex-col justify-center items-center md:px-[100px] px-[16px] pt-16 pb-6 md:py-[120px] bg-[#FED45C] program"
>
  <div
    class="self-stretch flex flex-col justify-start items-center md:items-start gap-8"
  >
    <Chip>Program Kami</Chip>
    <div
      class="self-stretch flex flex-col md:flex-row justify-between items-center gap-8"
    >
      <h2 class="justify-start text-center md:text-left">
        <span class="text-neutral-900">Pilihan </span><span
          class="text-[#146397]">Terbaik</span
        ><span class="text-neutral-900">
          untuk Memulai
          <br /></span
        ><span class="text-[#146397]">Pembelajaran</span><span
          class="text-neutral-900"
        >
          Anda</span
        >
      </h2>
      <Button>Lihat Semua Program</Button>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center mt-10 gap-8 self-stretch"
  >
    <ProgramItem />
  </div>
</section>
