---
import Chip from "../../components/Chip.astro";
import ContactForm from "../../components/ContactForm.astro";
---

<section
  class="flex flex-col md:flex-row items-center justify-between px-[16px] lg:px-24 py-12 gap-6"
>
  <div class="flex flex-col items-center justify-center md:items-start gap-3">
    <Chip>Hubungi Kami</Chip>
    <h2 class="text-center md:text-start capitalize">
      Punya pertanyaan? Kami di sini untuk <span class="text-[#146397]"
        >membantu</span
      >
    </h2>
    <p class="text-center md:text-start text-[#516276]">
      Kami siap membantu. Kirimkan pertanyaan Anda melalui formulir, dan tim
      kami akan merespons dalam waktu 24-48 jam.
    </p>
    <div class="flex items-start justify-between mt-4 w-full">
      <div class="flex flex-col flex-1">
        <h3 class="text-[#146397] h4">Email</h3>
        <a href="mailto:info@siapsukses.com" class="text-[#516276]"
          >info@siapsukses.com</a
        >
      </div>
      <div class="flex flex-col flex-1 text-end">
        <h3 class="text-[#146397] h4">Whatsapp</h3>
        <a href="mailto:info@siapsukses.com" class="text-[#516276]"
          >+62 851 7827 2370</a
        >
      </div>
    </div>
    <div class="flex flex-row items-start justify-between mt-4 w-full">
      <div class="flex flex-col flex-1">
        <h3 class="text-[#146397] h4">Whatsapp</h3>
        <a href="mailto:info@siapsukses.com" class="text-[#516276]"
          >LPK Siap Sukses <br /> Jalan Pondok Cabe Raya No. 16A<br />Pd. Cabe
          Udik, Kec. Pamulang, Kota Tangerang Selatan, Banten 15418</a
        >
      </div>
      <div class="flex flex-col flex-1 text-end">
        <h3 class="text-[#146397] h4">Jam operasional</h3>
        <a href="mailto:info@siapsukses.com" class="text-[#516276]"
          >Senin - Jumat: <br /> 08:00- 18:00</a
        >
      </div>
    </div>
  </div>
  <div class="flex md:p-4 items-center justify-center">
    <ContactForm />
  </div>
</section>s
