---
import Chip from "../../components/Chip.astro";
import upArrow from "../../images/up-arrow.png";
---

<section class="w-full flex flex-col md:flex-row px-[16px] lg:px-24 py-8 gap-8">
  <div class="flex flex-col items-center md:items-start flex-1 gap-2">
    <Chip>FAQ's</Chip>
    <h2 class="text-[#141219] text-center md:text-start">
      Pertanyaan yang Sering Diajukan
    </h2>
    <p class="text-center md:text-start">
      Punya pertanyaan? Kami punya jawabannya untuk membantu Anda mendapatkan
      hasil maksimal dari perjalanan belajar Anda.
    </p>
  </div>
  <div class="flex-1 p-6 rounded-[32px] bg-[#F5F3FF]">
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Alur bekerja di Jepang
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Pendaftaran - Medical Check Up - Pelatihan Selama 3 Bulan - Sertifikasi
        JLPT/JFT - Mengerjakan Tes Teknis - Interview Dengan User - Pengurusan
        Visa dan Paspor - Medical Check Up Total - OPP - Keberangkatan
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Metode Pembayaran bisa dicicil atau tidak
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Kami menyediakan skema cicilan sampai dengan 3 bulan dengan bunga
        cicilan 0%
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Pelatihannya berapa lama, apakah setiap hari?
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Pelatihan akan dilakukan selama 12 minggu dimana perminggunya adalah
        sebanyak 3 hari pelatihan dengan waktu 4 jam
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Sektor Pekerjaannya akan dimana?
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Sektor pekerjaan yang kami tawarkan adalah di bidang caretaker lansia
        dan hospitality, namun tidak menutup kemungkinan nantinya dapat bekerja
        di bidang lainnya
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Penempatannya dimana?
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Penempatan Kerjanya adalah di Jepang dengan prefektur yang menyesuaikan
        dengan kebutuhan perusahaan Jepang nantinya
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Fasilitas yang didapatkan selama belajar dan di luar negeri
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Para Peserta Tokutei Ginou akan mendapatkan Buku Pelajaran, Modul,
        Seragam dan ID Card selama masa pembelajaran
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Apakah paspor dan visa akan diurus oleh LPK?
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Kami menyediakan jasa pengurusan visa dan paspor untuk para peserta
        Tokutei Ginou
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Apakah sudah termasuk untuk tes JLPT dan JFT?
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Harga yang kami berikan belum termasuk tes sertifikasi JLPT ataupun JFT,
        namun kami memberikan Simulasi untuk test JLPT/JFT
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Berapa orang di dalam 1 kelas
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Kelas kami mampu untuk menampung 20-30 orang namun akan dilihat kembali
        terkait dengan kondusivitas dari kelas tersebut
      </p>
    </details>
    <details class="group rounded-lg">
      <summary
        class="flex cursor-pointer items-center justify-between w-full font-medium list-none border-b-1 border-[#8696A9] p-3 text-[#146397]"
      >
        Materi pelatihannya apa saja
        <span
          class="ms-5 transition-transform duration-300 group-open:rotate-180"
        >
          <svg
            aria-hidden="true"
            class="svg-icon iconArrowDownAlt"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            ><path d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7z"
            ></path></svg
          >
        </span>
      </summary>

      <p class="px-4 py-2 text-[#343A46]">
        Materi pelatihan kami termasuk Bahasa Jepang sampai dengan N4, Pelatihan
        Teknis (Caretaker atau Hospitality), Pengembangan Diri, Komunikasi,
        Kebudayaan dan Etos kerja serta Simulasi Interview
      </p>
    </details>
  </div>
</section>

<style>
  details > summary::-webkit-details-marker {
    display: none;
  }

  details .content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
  }

  details[open] .icon {
    transform: rotate(45deg);
  }
</style>

<script>
  const items = document.querySelectorAll("details");

  items.forEach((item) => {
    item.addEventListener("toggle", () => {
      if (item.open) {
        items.forEach((other) => {
          if (other !== item) other.open = false;
        });
      }
    });
  });
</script>
