---
const {
  color = "#146397",
  href = "/pendaftaran",
  textColor = "#fafafa",
} = Astro.props;
---

<a
  href={href}
  class={`px-6 py-3 bg-[${color}] rounded-[80px] inline-flex justify-center items-center gap-2.5 overflow-hidden`}
>
  <p
    class={`justify-start text-[${textColor}] text-center text-base font-bold`}
  >
    <slot />
  </p>
</a>
