---
import logo from "../images/logo_siap_sukses.png";
import organizationIcon from "../images/organization.png";
import igIcon from "../images/ig_logo.png";
---

<footer
  class="w-full px-[16px] lg:px-[100px] py-16 bg-violet-50 border-t border-black flex flex-col md:flex-row justify-start items-center gap-4"
>
  <div
    class="flex-1 inline-flex flex-col justify-center items-center md:justify-start md:items-start gap-6"
  >
    <img class="w-36 h-14" src={logo.src} />
    <h2 class="h4 self-stretch justify-start text-neutral-900">
      PT Dindaria Pionir Hijau
    </h2>
  </div>
  <div class="flex-1 inline-flex flex-col justify-center items-center gap-4">
    <img class="w-20 h-20" src={organizationIcon.src} />
    <h2 class="h4 self-stretch text-center justify-start text-neutral-900">
      Head Office
    </h2>
    <div
      class="self-stretch text-center justify-start text-slate-600 text-base"
    >
      Jl. Pondok Cabe Raya No.16A Cabe Udik, Kec. Pamulang, Kota Tangerang
      Selatan, Banten 15418
    </div>
  </div>
  <div class="flex-1 inline-flex flex-col justify-center items-center gap-4">
    <h2 class="h4 self-stretch text-center justify-start text-neutral-900">
      Navigasi
    </h2>
    <a
      href="/"
      class="self-stretch text-center justify-start text-slate-600 text-base"
    >
      Beranda
    </a>
    <a
      href="/tentang-kami"
      class="self-stretch text-center justify-start text-slate-600 text-base"
    >
      Tentang Kami
    </a>
    <a
      href="/"
      class="self-stretch text-center justify-start text-slate-600 text-base font-normal font-['Satoshi_Variable']"
    >
      Tokutei Ginou
    </a>
    <a
      href="/pendaftaran"
      class="self-stretch text-center justify-start text-slate-600 text-base font-normal font-['Satoshi_Variable']"
    >
      Pendaftaran
    </a>
    <a
      href="hubungi-kami"
      class="self-stretch text-center justify-start text-slate-600 text-base font-normal font-['Satoshi_Variable']"
    >
      Hubungi Kami
    </a>
  </div>
</footer>
