---
import Button from "./Button.astro";
import programImage from "../images/tokutei_ginou.png";
---

<div
  data-view="Default"
  class="self-stretch py-[40px] px-[20px] md:py-[56px] md:px-[40px] lg:py-[72px] lg:px-[88px] bg-violet-50 rounded-[30px] flex flex-col-reverse md:flex-row justify-between items-center gap-8"
>
  <div class="flex-1 inline-flex flex-col justify-start items-start gap-3">
    <p class="self-stretch justify-start text-[#146397] text-base font-bold">
      Program tenaga kerja terampil
    </p>
    <h3
      class="justify-start text-neutral-900 text-2xl font-bold font-['Satoshi_Variable']"
    >
      Tokutei Ginou Jepang
    </h3>
    <p
      class="text-justify justify-start text-[#516276] text-base font-normal font-['Satoshi_Variable']"
    >
      Program tenaga kerja terampil (Specified Skilled Worker/SSW) yang
      memberikan status tinggal kepada pekerja asing hingga 5 tahun serta dapat
      menikmati hak setara pekerja lokal Jepang.
    </p>
    <Button href="/pendaftaran">Gabung Sekarang</Button>
  </div>
  <div
    class="flex-1 md:h-72 lg:h-96 inline-flex flex-col justify-center items-center gap-2.5"
  >
    <img
      class="self-stretch flex-1 rounded-[30px]"
      src={programImage.src}
      alt="Program Image"
    />
  </div>
</div>
