---
const { title, description } = Astro.props;
---

<div
  class="flex-1 w-full flex flex-col items-center text-center position-relative z-2"
>
  <div
    class="w-16 h-16 rounded-full
           bg-indigo-50 flex items-center justify-center text-2xl"
  >
    <slot />
  </div>

  <h3 class="h4 mt-4 font-semibold text-lg text-slate-800">{title}</h3>
  <p class="mt-1 text-md text-[#516276]">
    {description}
  </p>
</div>
