---
import Chip from "../../components/Chip.astro";
---

<section
  class="flex flex-col items-center justify-center px-[16px] lg:px-24 py-8 gap-6"
>
  <div class="flex flex-col gap-4 justify-center items-center">
    <Chip>Tentang Kami</Chip>
    <h2 class="text-center">
      <span class="text-[#146397] capitalize">Membangun</span><span
        class="text-zinc-700 capitalize"
      >
        Tenaga Kerja
      </span><span class="text-[#146397] capitalize">Indonesia </span><span
        class="text-zinc-700 capitalize"
        ><br class="hidden md:block" />yang Siap Dipercaya di Dunia Kerja
        Global.</span
      >
    </h2>
  </div>
  <div
    class="flex flex-col md:flex-row items-center justify-between gap-2 md:gap-8 text-justify"
  >
    <div class="flex flex-col gap-2">
      <p>
        PT Dindaria Pionir Hijau atau yang lebih dikenal sebagai Lembaga
        Pelatihan Siap Sukses (LPK SS) didirikan pada tahun 2023, Siap Sukses
        lahir dari sebuah keyakinan bahwa pelatihan vokasi yang tepat, terarah,
        dan beretika mampu menciptakan individu yang tidak hanya terampil,
        tetapi juga memberi dampak positif bagi dunia kerja.
      </p>
      <p>
        Pada fase awal pendiriannya, Lembaga Pelatihan Siap Sukses berfokus pada
        pengembangan keterampilan kerja melalui program pelatihan vokasi.
        Sebagai bagian dari ekosistem peningkatan kompetensi nasional, Siap
        Sukses pernah berpartisipasi dalam Program Kartu Prakerja, dan telah
        membantu lebih dari 10.000 peserta memperoleh keterampilan baru yang
        relevan dengan kebutuhan industri. Pengalaman ini menjadi fondasi kuat
        dalam membangun sistem pelatihan yang efektif, terukur, dan berorientasi
        pada kesiapan kerja nyata.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <p>
        PT Dindaria Pionir Hijau atau yang lebih dikenal sebagai Lembaga
        Pelatihan Siap Sukses (LPK SS) didirikan pada tahun 2023, Siap Sukses
        lahir dari sebuah keyakinan bahwa pelatihan vokasi yang tepat, terarah,
        dan beretika mampu menciptakan individu yang tidak hanya terampil,
        tetapi juga memberi dampak positif bagi dunia kerja.
      </p>
      <p>
        Pada fase awal pendiriannya, Lembaga Pelatihan Siap Sukses berfokus pada
        pengembangan keterampilan kerja melalui program pelatihan vokasi.
        Sebagai bagian dari ekosistem peningkatan kompetensi nasional, Siap
        Sukses pernah berpartisipasi dalam Program Kartu Prakerja, dan telah
        membantu lebih dari 10.000 peserta memperoleh keterampilan baru yang
        relevan dengan kebutuhan industri. Pengalaman ini menjadi fondasi kuat
        dalam membangun sistem pelatihan yang efektif, terukur, dan berorientasi
        pada kesiapan kerja nyata.
      </p>
    </div>
  </div>
</section>
